# Pandas P1

In [ ]:
# This is intro of Pandas

In [1]:
import pandas as pd


Pandas depends upon and interoperates with NumPy, the Python library for fast numeric array computations. For example, you can use the DataFrame attribute .values to represent a DataFrame df as a NumPy array.

In [2]:
# .values to convery df to numpy

In [3]:
cities = ["Austin","India","Germany","Peru"]

In [4]:
signups = [1,2,3,4]

In [5]:
visitors = [200,300,400,500]

In [6]:
weekdays = ["S","M","T","W"]

In [7]:
list_labels = ['cities','signups','visitors','weekdays']

In [8]:
list_cols = [cities,signups,visitors,weekdays]

In [9]:
zipped = list(zip(list_labels,list_cols))

In [10]:
zipped

[('cities', ['Austin', 'India', 'Germany', 'Peru']),
 ('signups', [1, 2, 3, 4]),
 ('visitors', [200, 300, 400, 500]),
 ('weekdays', ['S', 'M', 'T', 'W'])]

In [14]:
df = {"cities":cities,"signups":signups}

{'cities': ['Austin', 'India', 'Germany', 'Peru'], 'signups': [1, 2, 3, 4]}

In [16]:
zipped1 = list(zip(list_cols,list_labels))
zipped1

[(['Austin', 'India', 'Germany', 'Peru'], 'cities'),
 ([1, 2, 3, 4], 'signups'),
 ([200, 300, 400, 500], 'visitors'),
 (['S', 'M', 'T', 'W'], 'weekdays')]

In [25]:
pd.DataFrame(zipped)

          0                               1
0    cities  [Austin, India, Germany, Peru]
1   signups                    [1, 2, 3, 4]
2  visitors            [200, 300, 400, 500]
3  weekdays                    [S, M, T, W]

In [24]:
pd.DataFrame(dict(zipped))

    cities  signups  visitors weekdays
0   Austin        1       200        S
1    India        2       300        M
2  Germany        3       400        T
3     Peru        4       500        W

In [23]:
zipped

[('cities', ['Austin', 'India', 'Germany', 'Peru']),
 ('signups', [1, 2, 3, 4]),
 ('visitors', [200, 300, 400, 500]),
 ('weekdays', ['S', 'M', 'T', 'W'])]